<mat-sidenav-container class="sidenav-container" [hasBackdrop]="(isHandset$ | async) ? 'true' : 'true'">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'">
      <div class="user-profile">
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4sJrw1N2xdTpV05KS-6U59Le7cyQbBSrS7ff_oooEsMnq4KtA-A" alt="Photo of a Shiba Inu"> -->
        <h4 style="color: black;">Harshal's Test</h4>
      </div>
     
    <div class="department">
      <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" routerLink="">Products</a>
        <a mat-list-item (click)="drawer.toggle()" routerLink="cart">Cart</a>
      
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <div id="top"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <router-outlet></router-outlet>bB -->