
.product-container{
    font-family: cursive;
    // background-color: aliceblue;
    box-shadow: 2px 4px 5px 0px;
    color: #fff;
    text-align: center;
}
.right{
    float: right;
}
.button{
    background-color: #3499c5;
    color: #fff;
}

